{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
	.profile-image{
		max-height: 100px;
		max-width: 100px;
	}
	.profile-image{
		border-radius: 12px;
	}
	.card{
		border-radius: 12px;
	}
	.friends-text{
		color: #000;
		font-weight: 500;
	}
	.friends-text-container{
		border: 1px solid #cccccc;
		border-radius: 12px;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.profile-link{
		color: #000;
	}
	.checkmark-icon{
		color: green;
	}
	.cancel-icon{
		color: red;
	}
</style>
<div class="mainbgimg">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
			  <div class="d-flex flex-column justify-content-center p-4">
   
    <div class="image-container" id="id_image_container">
        <img class="border border-dark rounded-circle img-fluid mx-auto profile-image" id="id_profile_image_display" src="{{obj.MRI_IMAGE.url}}" alt="">
		<p>{{Answer}}</p>	
		
		
		
		
			

   
    </div>
   </div>
   </div>
   </div>
   </div>


{% endblock content %}
